<!-- banner  -->
<div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- show only first -->
            <h1>{{ site.tagline[page.lang] }}</h1>
            <h2>{{ site.tagline2[page.lang] }}</h2>
            <p class="lead">{{ site.content.banner.paragraph1[page.lang] }}</p>
            <p class="lead">{{ site.content.banner.paragraph2[page.lang] }}</p>
            <ul class="banner-list">
              <li><i class="fa fa-check"></i><em>{{ site.content.banner.listItems.POW[page.lang] }}</em></li>
              <li><i class="fa fa-check"></i><em>{{ site.content.banner.listItems.SUP[page.lang] }}</em></li>
              <li><i class="fa fa-check"></i><em>{{ site.content.banner.listItems.RWD[page.lang] }}</em></li>
              <li><i class="fa fa-check"></i><em>{{ site.content.banner.listItems.TIM[page.lang] }}</em></li>
              <li><i class="fa fa-check"></i><em>{{ site.content.banner.listItems.DIF[page.lang] }}</em></li>
            </ul>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <img src="/img/aeon.png" class="img-responsive"/>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- end banner -->

<!-- Features -->
<section id="features" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline">
        <h2>
          {{ site.content.features.heading[page.lang] }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="features col-sm-4 col-md-4 col-lg-4">
        <img src="/img/icon_secure.png" height="65px" style="margin-top:3px;">
        <h3>{{ site.content.features.feature1.heading[page.lang] }}</h3>
        <p>{{ site.content.features.feature1.desc[page.lang] }}</p>
      </div>
      <div class="features col-sm-4 col-md-4 col-lg-4">
        <img src="/img/icon_private.png" height="68px" style="margin-top:0px;">
        <h3>{{ site.content.features.feature2.heading[page.lang] }}</h3>
        <p>{{ site.content.features.feature2.desc[page.lang] }}</p>
      </div>
      <div class="features col-sm-4 col-md-4 col-lg-4">
        <img src="/img/icon_untraceable.png" height="60px" style="margin-top:8px;">
        <h3>{{ site.content.features.feature3.heading[page.lang] }}</h3>
        <p>{{ site.content.features.feature3.desc[page.lang] }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Features -->

<!-- Difference -->
<section id="difference" class="section bg-blue-pattern white-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <h2>{{ site.content.difference.heading[page.lang] }}</h2>
          <p style="font-weight:600;">{{ site.content.difference.text[page.lang] }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="steps-list">
          <li>
            <span>1</span>
            <h4>{{ site.content.difference.listItems.item1.name[page.lang] }}</h4>
            <p>{{ site.content.difference.listItems.item1.value[page.lang] }}</p>
          </li>
          <li>
            <span>2</span>
            <h4>{{ site.content.difference.listItems.item2.name[page.lang] }}</h4>
            <p>{{ site.content.difference.listItems.item2.value[page.lang] }}</p>
          </li>
          <li>
            <span>3</span>
            <h4>{{ site.content.difference.listItems.item3.name[page.lang] }}</h4>
            <p>{{ site.content.difference.listItems.item3.value[page.lang] }}</p>
          </li>
          <li>
            <span>4</span>
            <h4>{{ site.content.difference.listItems.item4.name[page.lang] }}</h4>
            <p>{{ site.content.difference.listItems.item4.value[page.lang] }}</p>
          </li>
        </ul>
        <p class="difference-summary">
          {{ site.content.difference.paragraph[page.lang] }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Difference -->

<!-- Downloads -->
<section id="downloads" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline">
        <h2>{{ site.content.download.heading[page.lang] }}</h2>
        <p><em>{{ site.content.download.latestRelease[page.lang] }}</em> <a href="https://github.com/aeonix/aeon/releases/tag/v0.14.1.0-aeon">Chronos (0.14.1.0)</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 text-center">
        <h3>
          <span class="fa fa-windows">&nbsp;&nbsp;Windows, 64-bit</span>
        </h3>
        <a href="https://github.com/aeonix/aeon-gui/releases/download/v0.14.1.0-aeon/aeon-gui-win-x64-v0.14.1.0.zip">Windows, 64-bit</a><br>
        <a href="https://github.com/aeonix/aeon/releases/download/v0.14.1.0-aeon/aeon-win-x64-v0.14.1.0.zip">Windows, 64-bit Command-Line Tools Only</a><br><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 text-center">
        <h3>
          <span class="fa fa-apple">&nbsp;&nbsp;Mac OS X, 64-bit</span>
        </h3>
        <a href="https://github.com/aeonix/aeon-gui/releases/download/v0.14.1.0-aeon/aeon-gui-mac-x64-v0.14.1.0.tar.bz2">Mac OS X, 64-bit</a><br>
        <a href="https://github.com/aeonix/aeon/releases/download/v0.14.1.0-aeon/aeon-mac-x64-v0.14.1.0.tar.bz2">Mac OS X, 64-bit Command-Line Tools Only</a><br><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 text-center">
        <h3>
          <span class="fa fa-linux">&nbsp;&nbsp;Linux, 64-bit</span>
        </h3>
        <a href="https://github.com/aeonix/aeon-gui/releases/download/v0.14.1.0-aeon/aeon-gui-linux-x64-v0.14.1.0.tar.bz2">Linux, 64-bit</a><br>
        <a href="https://github.com/aeonix/aeon/releases/download/v0.14.1.0-aeon/aeon-linux-x64-v0.14.1.0.tar.bz2">Linux, 64-bit Command-Line Tools Only</a><br><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 text-center">
        <h3>
          <span class="fa fa-github">&nbsp;&nbsp;{{ site.content.download.sourceCode[page.lang] }}</span>
        </h3>
        <a href="https://github.com/aeonix/aeon-gui">GitHub, GUI</a><br>
        <a href="https://github.com/aeonix/aeon">GitHub, CLI</a><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 headline">
        <h3><span class="fa">{{ site.content.download.blockchain[page.lang] }}</span></h3>
        <div>{{ site.content.download.blockchainNotes[page.lang] }}</div>
<pre>
aeon-blockchain-import --input-file /path/to/your/file/blockchain.raw
</pre>
        <a href="https://drive.google.com/u/0/uc?id=1yiF7xvApQeQ-VBrJ_IDPQpdleqywNtvg">blockchain.raw</a> (3.4 GB)<br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 headline">
        <h3>
          <span class="fa fa-hashes">&nbsp;&nbsp;Hashes</span>
        </h3>
<pre>
SHA256(aeon-gui-linux-x64-v0.14.1.0.tar.bz2)= fe4d98e46211a72a618a4a14669796fd570829a4dddb830c33cb20bec7d414f2
SHA256(aeon-gui-mac-x64-v0.14.1.0.tar.bz2)= bf77694df5bfe3ccd9262db14355094161d31990bba0a5b26dd99a36d9036c64
SHA256(aeon-gui-win-x64-v0.14.1.0.zip)= d8b384be827c841dfe40e8037f5b11ec7c024ebe4bd65f45d01ed81fce8baf0d
SHA256(aeon-linux-x64-v0.14.1.0.tar.bz2)= 15d5b01d0d9434bce70b088315086dd83ff9dea20a5492ffccc6d1e3704cc1f5
SHA256(aeon-mac-x64-v0.14.1.0.tar.bz2)= d9cc9fc393db5993190a3fe40c88f2047feb4c0a692b1b704deec108ad3d454a
SHA256(aeon-win-x64-v0.14.1.0.zip)= 7d289940ed7e79e6f929feea122a889066e9fc1be06fd22d0e7801a8b31b1e5f
SHA256(aeon-blockchain-1265000.raw)= 3be0b4bd6d118b8fdbef056aacde4303a07b8dc204aa6c7787cf5f043953649c
</pre>
        <p><a href="hashes.asc">{{ site.content.download.pgpSignature[page.lang] }}</a> (<a href="https://raw.githubusercontent.com/aeonix/aeon/master/utils/gpg_keys/stoffu.asc">{{ site.content.download.signingKey[page.lang] }}</a>)</p>
      </div>
    </div>
  </div>
</section>
<!-- End Downloads -->

<!-- Press Kit -->
<section id="presskit" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline">
        <h2>{{ site.content.press.heading[page.lang] }}</h2>
        <p>
          {{ site.content.press.text[page.lang] }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="features col-sm-4 col-md-3 col-md-offset-1 text-center">
        <img src="/branding/aeon_logo_32x32.png"><br>
        <a href="/branding/aeon_logo_16x16.png">PNG 16x16</a><br>
        <a href="/branding/aeon_logo_128x128.png">PNG 128x128</a><br>
        <a href="/branding/aeon_logo_500x500.png">PNG 500x500</a><br>
        <a href="/branding/aeon_logo.svg">SVG</a>
      </div>
      <div class="features col-sm-4 col-md-4 text-center">
        <img src="/branding/aeon_title1_85x32.png"><br>
        <a href="/branding/aeon_title1_85x32.png">PNG 85x32</a><br>
        <a href="/branding/aeon_title1_340x128.png">PNG 340x128</a><br>
        <a href="/branding/aeon_title1_1360x512.png">PNG 1360x512</a><br>
        <a href="/branding/aeon_title1.svg">SVG</a>
      </div>
      <div class="features col-sm-4 col-md-3 text-center">
        <img src="/branding/aeon_title2_85x32.png"><br>
        <a href="/branding/aeon_title2_85x32.png">PNG 85x32</a><br>
        <a href="/branding/aeon_title2_340x128.png">PNG 340x128</a><br>
        <a href="/branding/aeon_title2_1360x512.png">PNG 1360x512</a><br>
        <a href="/branding/aeon_title2.svg">SVG</a>
      </div>
    </div>
  </div>
</section>
<!-- End Press kit -->
