<!-- Footer Top -->
  <section class="footer footer-top">
    <div class="container">
      <div class="row">
        <!-- Footer Intro  -->
        <div class="col-md-6">
          <h3>{{ site.content.footer.column1.heading1[page.lang] }}</h3>
          <p>{{ site.content.footer.column1.paragraph1[page.lang] }}</p>
          <p>{{ site.content.footer.column1.paragraph2[page.lang] }}</p>
          <br>
          <h3>{{ site.content.footer.column1.heading2[page.lang] }}</h3>
          <p>{{ site.content.footer.column1.paragraph3[page.lang] }}</p>
          <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSci2UitA67N0W_xgSPLlGj6acGnTOtTdDR_ODZwXTHXZsWnCQ/viewform" rel="nofollow">{{ site.content.footer.column1.paragraph4[page.lang] }}</a></p>
          <br>
        </div>
        <!-- End Footer Intro -->

        <!-- Exchanges & Block explorers -->
        <div class="col-sm-6 col-md-3">
          <div>
            <h3>{{ site.content.footer.column2.heading1[page.lang] }}</h3>
            <ul class="quick-links">
              <li><a href="https://bittrex.com/Market/Index?MarketName=BTC-AEON" rel="nofollow">Bittrex</a> [aeon&#x21D4;btc]</li>
              <li><a href="https://tradeogre.com/exchange/BTC-AEON" rel="nofollow">TradeOgre</a> [aeon&#x21D4;btc]</li>
              <li><a href="https://hitbtc.com/exchange/AEON-to-BTC" rel="nofollow">HitBTC</a> [aeon&#x21D4;btc]</li>
              <li><a href="https://bisq.network/markets/?currency=aeon_btc" rel="nofollow">Bisq</a> [aeon&#x21D4;btc]</li>
            </ul>
          </div>
          <br>
          <div>
            <h3>{{ site.content.footer.column2.heading2[page.lang] }}</h3>
            <ul class="quick-links">
              <li><a href="http://162.210.173.150" rel="nofollow">162.210.173.150</a></li>
              <li><a href="https://aeonblockexplorer.com/" rel="nofollow">AEONBlockExplorer.com</a></li>
              <li><a href="https://aeonblockchecker.ninja:8081/" rel="nofollow">aeonblockchecker.ninja</a></li>
              <li><a href="https://aeonstats.com/" rel="nofollow">aeonstats.com</a></li>
              <li><a href="https://aeonstats.info/" rel="nofollow">aeonstats.info</a></li>
            </ul>
          </div>
          <br>
        </div>
        <!-- End Exchanges & Block explorers -->

        <!-- Quick Links & Social Links -->
        <div class="col-sm-6 col-md-3">
          <div>
            <h3>{{ site.content.footer.column3.heading1[page.lang] }}</h3>
            <ul class="quick-links">
              <li><a href="http://getmonero.org">Monero</a></li>
              <li><a href="http://cryptonote.org" rel="nofollow" target="_blank">CryptoNote</a></li>
            </ul>
          </div>
          <br>
          <div>
            <h3>{{ site.content.footer.column3.heading2[page.lang] }}</h3>
            <ul class="quick-links">
              <li><a href="https://bitcointalk.org/index.php?topic=641696.0" rel="nofollow" target="_blank">BitcoinTalk</a></li>
              <li><a href="https://twitter.com/AeonCoin" rel="nofollow" target="_blank">Twitter</a></li>
              <li><a href="https://www.reddit.com/r/aeon" rel="nofollow" target="_blank">Reddit</a></li>
              <li><a href="https://monero.stackexchange.com" rel="nofollow" target="_blank">StackExchange</a></li>
              <li><a href="https://coinwik.org/Aeon" rel="nofollow" target="_blank">Aeon Wiki</a></li>
              <li><a href="https://github.com/aeonix" rel="nofollow" target="_blank">GitHub</a></li>
              <li><a href="https://webchat.freenode.net/?channels=%23aeon" rel="nofollow" target="_blank">IRC</a></li>
              <li><a href="https://discord.gg/xWZ2z78" rel="nofollow" target="_blank">Discord</a></li>
              <li><a href="https://aeon-community.medium.com/" rel="nofollow" target="_blank">Medium Blog</a></li>
            </ul>
          </div>
        </div>
        <!-- End Quick links & Social Links -->
      </div>
    </div>
  </section>
  <!-- End Footer Top -->

  <!-- Footer Bottom -->
  <footer class="footer footer-sub">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <p>Copyright &copy; 2017-&infin;, AEON, The Monero Project.</p>
        </div>
        <div class="col-lg-6 col-sm-6">
          <p class="copyright">{{ site.content.footerBottom.madeWith[page.lang] }}</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Bottom -->
