<div id="banner" class="bg-blur">
    <div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      {% if site.content.announce[page.lang] And site.content.announce[page.lang] != "" And site.content.announce[page.lang] != nil %}
        <div class="announce"><a href="https://github.com/aeonix/aeon-gui/releases/tag/v0.14.1.0-aeon">{{ site.content.announce[page.lang] }}</a></div>
      {% endif %}
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-logo" href="#">
              <span class="hidden-sm hidden-xs"><img src="/img/aeon-small.png"/></span>
              {{ site.coinName }}
            </a>
          </div>
          <div class="navigation navbar-collapse collapse">
            <ul class="nav navbar-nav menu-right">
              <li class="active"><a href="#banner">{{ site.menu.home[page.lang] }}</a></li>
              <li><a href="#features">{{ site.menu.features[page.lang] }}</a></li>
              <li><a href="#difference">{{ site.menu.difference[page.lang] }}</a></li>
              <li><a href="#downloads">{{ site.menu.download[page.lang] }}</a></li>
              <li><a href="#presskit">{{ site.menu.pressKit[page.lang] }}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ site.menu.lang[page.lang] }} <span class="caret"></span></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-menu-language">
                    <a href="/">English</a>
                    <a href="/index.es">Espanol</a>
                    <a href="/index.de">Deutsch</a>
                    <a href="/index.pl">Polski</a>
                    <a href="/index.eo">Esperanto</a>
                    <a href="/index.fr">Française</a>
                    <a href="/index.rs">русский</a>
                    <a href="/index.cn">中文</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
