    <div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top scroll-fixed-navbar" role="navigation">
      {% if site.data.i18n.content.announce[page.lang] And site.data.i18n.content.announce[page.lang] != "" And site.data.i18n.content.announce[page.lang] != nil %}
        <div class="announce"><a href="https://github.com/aeonix/aeon-gui/releases/tag/v0.14.1.0-aeon">{{ site.data.i18n.content.announce[page.lang] }}</a></div>
      {% endif %}
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-logo" href="/{{ page.lang }}/home">
              <span class="hidden-sm hidden-xs"><img src="/img/aeon-small.png"/></span>
              {{ site.data.i18n.coinName }}
            </a>
          </div>
          <div class="navigation navbar-collapse collapse">
            <ul class="nav navbar-nav menu-right">
              {% if page.layout == "home" %}<li class="li-active">{% else %}<li>{% endif %}
                <a href="/{{ page.lang }}/home">{{ site.data.i18n.menu.home[page.lang] }}</a>
              </li>
              {% if page.layout == "downloads" %}<li class="li-active">{% else %}<li>{% endif %}
                <a href="/{{ page.lang }}/downloads">{{ site.data.i18n.menu.download[page.lang] }}</a>
              </li>
              {% if page.layout == "presskit" %}<li class="li-active">{% else %}<li>{% endif %}
                <a href="/{{ page.lang }}/presskit">{{ site.data.i18n.menu.pressKit[page.lang] }}</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ site.data.i18n.menu.lang[page.lang] }} <span class="caret"></span></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-menu-language">
                    <a href="/en/{{ page.layout }}">English</a>
                    <a href="/es/{{ page.layout }}">Espanol</a>
                    <a href="/de/{{ page.layout }}">Deutsch</a>
                    <a href="/pl/{{ page.layout }}">Polski</a>
                    <a href="/eo/{{ page.layout }}">Esperanto</a>
                    <a href="/fr/{{ page.layout }}">Française</a>
                    <a href="/rs/{{ page.layout }}">русский</a>
                    <a href="/cn/{{ page.layout }}">中文</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
