---
layout: default
---

<!-- Downloads -->
<section id="downloads" class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 headline">
        <h2>{{ site.data.i18n.content.download.heading[page.lang] }}</h2>
        <p>
          <em>{{ site.data.i18n.content.download.latestRelease[page.lang] }}</em>
          <a href="https://github.com/aeonix/aeon/releases/tag/v0.14.2.1-aeon">Chronos (0.14.2.1)</a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>
              <span class="fa fa-windows">&nbsp;&nbsp;Windows, 64-bit</span>
            </h3>
            <a href="https://github.com/aeonix/aeon-gui/releases/download/v0.14.2.1-aeon/aeon-gui-win-x64-v0.14.2.1-aeon.zip">Windows, 64-bit</a><br>
            <a href="https://github.com/aeonix/aeon/releases/download/v0.14.2.1-aeon/aeon-win-x64-v0.14.2.1-aeon.zip">Windows, 64-bit Command-Line Tools Only</a>
            <br>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>
              <span class="fa fa-apple">&nbsp;&nbsp;Mac OS X, 64-bit</span>
            </h3>
            <a href="https://github.com/aeonix/aeon-gui/releases/download/v0.14.2.1-aeon/aeon-gui-mac-x64-v0.14.2.1-aeon.tar.bz2">Mac OS X, 64-bit</a><br>
            <a href="https://github.com/aeonix/aeon/releases/download/v0.14.2.1-aeon/aeon-mac-x64-v0.14.2.1-aeon.tar.bz2">Mac OS X, 64-bit Command-Line Tools Only</a>
            <br>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>
              <span class="fa fa-linux">&nbsp;&nbsp;Linux, 64-bit</span>
            </h3>
            <a href="https://github.com/aeonix/aeon-gui/releases/download/v0.14.2.1-aeon/aeon-gui-linux-x64-v0.14.2.1-aeon.tar.bz2">Linux, 64-bit</a><br>
            <a href="https://github.com/aeonix/aeon/releases/download/v0.14.2.1-aeon/aeon-linux-x64-v0.14.2.1-aeon.tar.bz2">Linux, 64-bit Command-Line Tools Only</a>
            <br>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>
              <span class="fa fa-github">&nbsp;&nbsp;{{ site.data.i18n.content.download.sourceCode[page.lang] }}</span>
            </h3>
            <a href="https://github.com/aeonix/aeon-gui">GitHub, GUI</a><br>
            <a href="https://github.com/aeonix/aeon">GitHub, CLI</a>
            <br>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <br>
      </div>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 headline">
                <br>
                <h3><span class="fa">{{ site.data.i18n.content.download.blockchain[page.lang] }}</span></h3>
              </div>
              <div class="col-xs-12 text-center">
                <div>
                  {{ site.data.i18n.content.download.blockchainNotes[page.lang] }}
                </div>
                <br>
              </div>
              <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<pre>aeon-blockchain-import --input-file /path/to/your/file/blockchain.raw
</pre>
              </div>
              <div class="col-xs-12 text-center">
                <p>
                  <a href="https://drive.google.com/u/0/uc?id=1yiF7xvApQeQ-VBrJ_IDPQpdleqywNtvg">blockchain.raw</a> (3.4 GB)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <br>
      </div>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 headline">
                <br>
                <h3>
                  <span class="fa">{{ site.data.i18n.content.download.hashes[page.lang] }}</span>
                </h3>
              </div>
              <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<pre>SHA256(aeon-gui-linux-x64-v0.14.2.1.tar.bz2)= 058592cf0464e5971b6f3e9955783a9e30234c121eef9d5bf0479b5c8806a2ae
SHA256(aeon-gui-mac-x64-v0.14.2.1.tar.bz2)= 1bca53f1c35293df969f7ec2ff2be315588daa7b1ba7e5c92b90db296a6a38f9
SHA256(aeon-gui-win-x64-v0.14.2.1.zip)= ce421c9ea93507d25d0e4ecdeebe16af9840128a581c10402c4f0722be379b57
SHA256(aeon-linux-x64-v0.14.2.1.tar.bz2)= ab629361308dd3a7bd5737d73ae4920d49d6b5e01098bb1001ce91837f686a0f
SHA256(aeon-mac-x64-v0.14.2.1.tar.bz2)= 1bae7848f06ce7ac3fc2e04bf70cd9469bf6e691f9ec979f25beb7c6d6bb9ba3
SHA256(aeon-win-x64-v0.14.2.1.zip)= 599b5567b350976286e3ecefe922b2dbfcef3e577b0819ff9fd67ce844409b0a
SHA256(aeon-blockchain-1265000.raw)= 3be0b4bd6d118b8fdbef056aacde4303a07b8dc204aa6c7787cf5f043953649c
</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <br><br>
      </div>
    </div>
  </div>
</section>
<!-- End Downloads -->
