---
layout: default
---

<!-- Features -->
<section id="features" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline">
        <h2>
          {{ site.data.i18n.content.features.heading[page.lang] }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="features col-sm-4 col-md-4 col-lg-4">
        <img src="/img/icon_secure.png" height="65px" style="margin-top:3px;">
        <h3>{{ site.data.i18n.content.features.feature1.heading[page.lang] }}</h3>
        <p>{{ site.data.i18n.content.features.feature1.desc[page.lang] }}</p>
      </div>
      <div class="features col-sm-4 col-md-4 col-lg-4">
        <img src="/img/icon_private.png" height="68px" style="margin-top:0px;">
        <h3>{{ site.data.i18n.content.features.feature2.heading[page.lang] }}</h3>
        <p>{{ site.data.i18n.content.features.feature2.desc[page.lang] }}</p>
      </div>
      <div class="features col-sm-4 col-md-4 col-lg-4">
        <img src="/img/icon_untraceable.png" height="60px" style="margin-top:8px;">
        <h3>{{ site.data.i18n.content.features.feature3.heading[page.lang] }}</h3>
        <p>{{ site.data.i18n.content.features.feature3.desc[page.lang] }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Features -->
