---
layout: default
---

<!-- Press Kit -->
<section id="presskit" class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 headline">
        <h2>{{ site.data.i18n.content.press.heading[page.lang] }}</h2>
        <p>
          {{ site.data.i18n.content.press.text[page.lang] }}
        </p>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/branding/aeon_logo_128x128.png"><br>
            <a href="/branding/aeon_logo_16x16.png">PNG 16x16</a><br>
            <a href="/branding/aeon_logo_128x128.png">PNG 128x128</a><br>
            <a href="/branding/aeon_logo_500x500.png">PNG 500x500</a><br><br>
            <a href="/branding/aeon_logo.svg">SVG</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/branding/aeon_title2_340x128.png"><br>
            <a href="/branding/aeon_title2_85x32.png">PNG 85x32</a><br>
            <a href="/branding/aeon_title2_340x128.png">PNG 340x128</a><br>
            <a href="/branding/aeon_title2_1360x512.png">PNG 1360x512</a><br><br>
            <a href="/branding/aeon_title2.svg">SVG</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <br><br>
      </div>
    </div>
  </div>
</section>
<!-- End Press Kit -->
